@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');



/* fontes
font-family: 'Bebas Neue', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Homemade Apple', cursive;
font-family: 'Montserrat', sans-serif;

usando
font-family: 'Work Sans', sans-serif;
 */

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%; 
    
}

a{
    text-decoration: none;
}

body{
    width: auto;
    background-color: gray;
}

header{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    height: 100px;
}

header img{
    height: 35px;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
       
    }

    header img{
        margin-top: 24px;
    }

    menu ul{
        margin: 20px 0px 10px 0px;
    }
}



menu ul{
    list-style: none;
    display: flex;
}

menu ul li{
    margin: 0px 15px;
}

menu ul li:first-child{
    margin-left: 0px;
}

menu ul li:last-child{
    margin-right: 0px;
}

menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 1em;
    opacity: 0.8;
}

menu ul li a:hover{
    text-decoration: none;
    opacity: 1;
}

main{
    background-color: white;
    height: auto;
    display: flex;
}

.container-home{
    background-color:rgb(255, 255, 255);
    display: flex;
    margin: auto;
    width: 100%;
    width: 100vw;
    
}

.container-home img{
    width: 339px;   
    display: flex;
}

@media (max-width: 700px){
    .container-home{
        flex-direction: column;
        margin-bottom: 10px;
    }

    .container-home img{
        margin-bottom: 20px;
    }
}

.container-textos{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 700px;
}

.container-textos h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
}

.container-textos section{
    padding: 20px 30px;
}

.container-textos section p{
    padding: 10px 0px;
    text-indent: 10px;
    text-align: justify;
}
.container-textos .texto-saulo p:nth-child(5){
    text-indent: 0px;
    margin: 0px 0px;
    text-align: left;
}

.container-textos .texto-barroso p:nth-child(3){
    text-indent: 0px;
    margin: 0px 0px;
    text-align: left;
}

.barra-texto{
    width: 50px;
    height: 1px;
    background-color: black;
    margin: 20px auto;
}

.container-sobre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 70vw;
    height: 497px;
    display: flex;
    align-items: center;
    
}

/* .container-sobre h1{
    padding-bottom: 10px;
} */

/* .container-sobre .texto-sobre{
    
} */

.container-sobre section p{
    text-indent: 10px;
    text-align: justify;
}

.img-sobre img{
    width: 20rem;
}

.container-galeria-desenhos{
    background-color:white;
    display: grid;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}

.container-galeria-desenhos img{
    width: 350px;
    height: auto;
}

.container-galeria .h1-galeria{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding: 30px 0px 8px 0px;
    font-size: 1.7rem;
}

.container-galeria .h2-galeria{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding: 0px 0px 8px 0px;
    font-size: 1.2rem;
}






/* .container-galeria{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 300px;
}

.item-galeria{
    position: absolute;
}

.item-galeria .img-galeria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-galeria .title-galeria{
    position: absolute;
    background-color: rgbe(0,0,0,0.8);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 16px;
} */

/* #galeria{
    width: auto;
    display: flex;
    justify-content: space-around;   
    padding: 60px; 
}

#galeria img{
    width: 400px;
} */

footer{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    font-size: 0.9rem;
}

footer a{
    text-decoration: none;
    color: black;
}

#copy-footer{
    margin: 0 9px 0px 0px;
}

#redes-sociais{
    margin: 0 0px 0px 9px;
    margin: 0;
    display: flex;
    flex-direction: row;
 }

#redes-sociais i{
    opacity: 0.9;
    padding: 6px;
    font-size: 25px;
 }

#redes-sociais i:hover{
    opacity: 1;
 }

